.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.wrapper {
    width: 420px;
    height: 480px;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(69, 69, 69);
    border-radius: 10px;
    overflow: hidden;
}

.top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(145, 145, 145);

    .close-btn {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s linear;

        &:hover {
            color: rgb(255, 255, 255);
        }

        .close {
            width: 30px;
            height: 30px;
        }
    }
}

.bottom {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heading {
        font-size: 3rem;
        font-weight: 700;
    }

    .list {
        padding-top: 20px;

        .item {
            .item-heading {
                padding-bottom: 10px;
                font-size: 1.4rem;
                font-weight: 500;
            }

            .input {
                padding: 10px;
                width: 300px;
                border: 1px solid black;
                border-radius: 4px;
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        .item + .item {
            padding-top: 10px;
        }
    }

    .button-wrapper {
        padding-top: 36px;
        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn {
            padding: 10px 20px;
            border-radius: 4px;
            background-color: rgb(145, 145, 145);
            font-size: 1.4rem;
            font-weight: 700;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: rgb(178, 178, 178);
            }
        }
    }
}
